.button-container {
    background-color: rgba(128, 255, 128, 0.8);
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
  }
  
  .button {
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 55px;
  }
  
  .name-text {
    color: rgba(211, 211, 211, 1);
  }

  .header {
    text-align: center;
    padding: 1rem;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .header {
      padding: 1.5rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .header {
      padding: 2rem;
    }
  }