.actor-config-section-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.actor-config-section {
    margin-bottom: 1rem;
    width: 300px;
    color: white !important;
}

.actor-config-section-input {
    margin-bottom: 1rem;
    width: 300px;
    color: white !important;
    caret-color: aliceblue !important;
}
  
.actor-config-section-input .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.actor-config-section-input:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgba(57, 255, 20, 0.5) !important;
}

.actor-config-section-input.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.actor-config-section-text-field {
    margin-bottom: 1rem;
    width: 300px;
    color: white;
}
  
.actor-config-section-text-field .MuiOutlinedInput-notchedOutline {
    border-color: white;
}


.actor-config-section-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: aliceblue !important;
    padding: 1rem;
    width: 100%;
    padding-bottom: 2rem;
}

.actor-config-section-avatar-button {
    margin-top: 0.5rem;
}

.actor-config-button {
    max-width: 100%;
    background-color: rgba(66,255,30,0.4)!important;
    height: 100%;
    text-transform: none;
}