.message-card-text {
    color: #F5F5F5;
}

.mobile-hidden {
    display: none; /* Hide by default */
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .mobile-hidden {
      display: block; /* Show on tablets and larger devices */
    }
  }
  
.text-center-on-mobile {
    text-align: left;
}
  
@media (max-width: 600px) { /* Adjust the breakpoint to your needs */
    .text-center-on-mobile {
        text-align: center;
    }
}