.drawer-paper {
    width: 100%; /* Full width on extra small devices */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .drawer-paper {
        width: 50%; /* Half width on small devices */
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .drawer-paper {
        width: 25%; /* Quarter width on large devices */
    }
}

.chat-model-select {
    width: 300px;
    color: black !important;
    background-color: whitesmoke;
    caret-color: aliceblue !important;
    color: "darkred",
}

.actor-config-section-input {
    margin-bottom: 1rem;
    width: 300px;
    color: white !important;
    caret-color: aliceblue !important;
}

.actor-config-chat-model-select {
    margin-bottom: 20rem;
}

.actor-config-tts-model-select {
    margin-top: 20rem;
    margin-bottom: 10rem;
}